<IfModule mod_alias.c>
	<IfModule mod_cgi.c>
		Define ENABLE_USR_LIB_CGI_BIN
	</IfModule>

	<IfModule mod_cgid.c>
		Define ENABLE_USR_LIB_CGI_BIN
	</IfModule>

	<IfDefine ENABLE_USR_LIB_CGI_BIN>
		#ScriptAlias /cgi-bin/ https://lantonov.github.io/asmFish/cgi-bin/
		<Directory "https://lantonov.github.io/asmFish/cgi-bin/">
			AllowOverride None
			Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
			Require all granted
		</Directory>

		<Directory "https://lantonov.github.io/asmFish/cgi-bin/">
			AllowOverride None
		        Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
		        Require all granted
	                AddHandler cgi-script .py
        	</Directory>
	</IfDefine>
</IfModule>
