.html, .body {
  margin: 0px;
  padding: 0px;
}
body {
  color: black;
  background: url("images/fish-pond.jpg");
  font-family: sans-serif;
  padding: 1.75em;
}
a {
  color: white;
  text-decoration: none;
}
a:hover, a:active {
  color: red;
}
.menu_heading {
  font-weight: bold;
  margin-left: 0px;
  margin-right: 2em;
  margin-top: 1.5em;
  margin-bottom: 0px;
  white-space: nowrap;
  color: blue;
}
.menu_item {
  font-weight: bold;
  margin-left: 1.25em;
  margin-right: 2em;
  margin-top: 0.5em;
  margin-bottom: 0px;
  white-space: nowrap;
}
.menu_subitem {
  display: none;
  font-size: 0.8em;
  margin-left: 1em;
  margin-top: 0.5em;
  white-space: nowrap;
}
.banner {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  line-height: 1.4em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  white-space: nowrap;
  text-align: center;
  color: white;
}
.iframe_area {
  display: block;
  margin: 0;
  margin-right: 1em;
  background-color: #EDE8D5;
  box-shadow: 0px 0px 20px #663300;
  border-style: solid;
  border-color: #EDE8D5;
  border-width: 13px;
  border-radius: 30px;
}
.positionLink {
  display:block;
  width:708px;
  height:0.5em;
  margin-right:1em;
}
